#Ignore all build files
MVEyE_1V0/build
FirmwareDevelopment/SourceCode/MVEyE_1V0/.*
FirmwareDevelopment/SourceCode/MVEyE_1V0/build
FirmwareDevelopment/SourceCode/MVEyE_1V0/*.old
.metadata

MVEyE_1V0/.*

#Ignore all project setting files
MVEyE_1V0/*.old



